/* Main start */
/* main {
  padding: 20px;
} */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px 20px 50px 20px;
  border-bottom-left-radius: 30px;
  background-color: #45adff;
}
.banner__text {
  max-width: 240px;
  color: #ffffff;
}
.banner__text-greeting {
  font-weight: 600;
  margin-bottom: 10px;
}
.banner__text-description {
  font-size: 0.9rem;
  font-weight: 300;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
.heading {
  /* background-color: black; */
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 300px));
  place-content: center;
  gap: 20px;
  padding: 0 20px;
  margin-top: -40px;
}
.heading__priority,
.heading__overdue,
.heading__all {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  color: #ffffff;
  padding: 10px 0;
  font-size: 0.8rem;
  border-radius: 10px;
  text-align: center;
}
.heading__priority img,
.heading__overdue img,
.heading__all img {
  display: none;
  padding: 5px;
  border: 2px solid white;
  border-radius: 100%;
}
.heading__priority {
  background-color: #fdd527;
}
.heading__overdue {
  background-color: #ff635e;
}
.heading__all {
  background-color: #1a2744;
}
.heading__priority__detail-count,
.heading__overdue__detail-count,
.heading__all__detail-count {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.activity {
  padding-inline: 10px;
  padding-bottom: 20px;
}
.activity__add {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 5px;
  border-radius: 100%;
  cursor: pointer;
}
.activity__add {
  background-color: var(--main-color);
}
.activity__add:hover {
  opacity: 0.7;
}
.activity__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;

  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.activity__heading-text {
  color: var(--border-color);
  font-weight: 600;
}
.activity__heading-action {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 5px;
}
.activity__heading-action-edit {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.activity__heading-action-edit:hover {
  opacity: 0.8;
}
.activity__heading-action-edit {
  background-color: var(--color-edit);
}
.activity__heading-action__find {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.activity__heading-action .search,
.activity__heading-action .filter {
  background-color: var(--base-color);
  max-width: 100px;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
}
.activity__content {
  display: grid;
  grid-template-columns: auto;
  place-items: center;
  padding: 10px;
  gap: 10px;
}
.activity__content-item {
  min-width: 250px;
  /* tengok nanti */
  /* max-width: 300px; */
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 15px;
  border-radius: 10px;

  font-size: 0.8rem;
  background-color: var(--base-color);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.activity__content-item__left-title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.activity__content-item__left-priority,
.activity__content-item__left-daily,
.activity__content-item__left-weekly,
.activity__content-item__left-monthly {
  display: inline-block;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--main-color);
  color: #ffffff;
  font-size: 0.8rem;
  margin-bottom: 15px;
}
.activity__content-item__left-priority {
  background-color: #fdd527;
}
.activity__content-item__left-daily {
  /* display: none; */
}
.activity__content-item__left-weekly {
  /* display: none; */
}
.activity__content-item__left-monthly {
  /* display: none; */
}
.activity__content-item__left-description {
  max-width: 200px;
  text-align: justify;
}
.activity__content-item__right {
  max-width: 110px;
}
.activity__content-item__right-time {
  border-radius: 5px;
  padding: 10px 5px;
  background-color: #fff;
  color: var(--main-color);
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
}
.activity__content-item__right-time p {
  line-height: 1rem;
}
.activity__content-item__right-action {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  margin-top: -30px;
  transition: all 0.2s;
}
.activity__content-item__right-action.show {
  margin-top: 0;
}
.activity__content-item__right-action-edit,
.activity__content-item__right-action-delete,
.activity__content-item__right-action-complete {
  padding: 5px;
  border-radius: 5px;
  transform: scale(0);
  transform-origin: bottom;
  transition: all 0.2s;
  cursor: pointer;
}
.activity__content-item__right-action-edit:hover,
.activity__content-item__right-action-delete:hover,
.activity__content-item__right-action-complete:hover {
  opacity: 0.8;
}
.activity__content-item__right-action-edit.show,
.activity__content-item__right-action-delete.show,
.activity__content-item__right-action-complete.show {
  transform: scale(1);
  margin-top: 10px;
  display: block;
}
.activity__content-item__right-action-edit {
  background-color: var(--color-edit);
}
.activity__content-item__right-action-delete {
  background-color: var(--color-danger);
}
.activity__content-item__right-action-complete {
  background-color: var(--color-success);
}
@media screen and (min-width: 768px) {
  .banner__text {
    max-width: 320px;
  }
  .banner__text-greeting {
    font-size: 1.5rem;
  }
  .banner__text-description {
    font-size: 1rem;
  }
  .heading {
    margin-top: -60px;
  }
  .heading__priority,
  .heading__overdue,
  .heading__all {
    padding: 30px 0;
    font-size: 1rem;
    text-align: left;
  }
  .heading__priority img,
  .heading__overdue img,
  .heading__all img {
    display: block;
  }
  .heading__priority__detail-count,
  .heading__overdue__detail-count,
  .heading__all__detail-count {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .activity__add {
    padding: 10px;
  }
  .activity__content {
    grid-template-columns: auto auto;
    gap: 10px;
  }
  .activity__heading-action__find {
    flex-direction: row;
  }
  .activity__heading-action__find .search {
    max-width: 200px;
  }
}
@media screen and (min-width: 1024px) {
  .banner {
    padding: 30px 20px 70px 20px;
    border-bottom-left-radius: 60px;
  }
  .banner__text {
    max-width: 400px;
  }
  .banner__text-greeting {
    font-size: 2rem;
  }
  .banner__text-description {
    font-size: 1.2rem;
  }
  .heading__priority__detail-count,
  .heading__overdue__detail-count,
  .heading__all__detail-count {
    font-size: 1.7rem;
  }
  .activity__heading-text {
    font-size: 1.5rem;
  }
  .activity__heading-action {
    gap: 10px;
  }
  .activity__heading-action .search,
  .activity__heading-action .filter {
    font-size: 1rem;
  }
  .activity__content {
    grid-template-columns: repeat(3, 1fr);
  }
  .activity__content-item {
    font-size: 0.9rem;
  }
  .activity__content-item__title {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .activity__content {
    background-color: salmon;
    grid-template-columns: repeat(4, 1fr);
  }
}
/* Main end */
