:root {
  --main-color: #0091ff;
  --color-dark: #333333;
  --border-color: #1a2744;
  --base-color: #f5f5f5;
  --color-danger: #d46a6a;
  --color-success: #77dd77;
  --main-color: #008fff;
  --color-dark: #333333;
  --card-border: #acdaff;
  --input-color: #d4ecff;
  --color-edit: #ff7f50;
}
/* Main start */
main {
  padding-bottom: 100px;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px 20px 50px 20px;
  border-bottom-left-radius: 30px;
  background-color: #45adff;
}
.banner__text {
  max-width: 240px;
  color: #ffffff;
}
.banner__text-greeting {
  font-weight: 600;
  margin-bottom: 10px;
}
.banner__text-description {
  font-size: 0.9rem;
  font-weight: 300;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
.heading {
  /* background-color: black; */
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 300px));
  place-content: center;
  gap: 20px;
  padding: 0 20px;
  margin-top: -40px;
}
.heading__priority,
.heading__overdue,
.heading__all {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  color: #ffffff;
  padding: 10px 0;
  font-size: 0.8rem;
  border-radius: 10px;
  text-align: center;
}
.heading__priority__img,
.heading__overdue__img,
.heading__all__img {
  display: none;
  padding: 8px;
  border: 2px solid white;
  border-radius: 100%;
}
.heading__priority__img {
  border: 2px solid black;
}
.heading__priority {
  color: black;
  background-color: #fdd527;
}
.heading__overdue {
  background-color: #ff635e;
}
.heading__all {
  background-color: #1a2744;
}
.heading__priority__detail-count,
.heading__overdue__detail-count,
.heading__all__detail-count {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.activity {
  padding-inline: 10px;
  padding-bottom: 20px;
}
.activity__action {
  background-color: var(--main-color);
  padding: 15px;
  border-radius: 100%;
  cursor: pointer;

  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
}
.activity__action.show {
  background-color: var(--card-border);
}
.activity__action-edit,
.activity__action-add {
  background-color: var(--main-color);
  position: fixed;
  bottom: 25px;
  right: 25px;
  border-radius: 100%;
  padding: 8px;
  cursor: pointer;
  transition: right 0.3s;
  z-index: 999;
}
.activity__action-edit:hover,
.activity__action-add:hover {
  background-color: var(--card-border);
}
.activity__action-add.show {
  right: 85px;
}
.activity__action-edit.show {
  right: 130px;
}
.activity__action-edit.disabled {
  background-color: var(--card-border);
  cursor: not-allowed;
}
.activity__action-edit.disabled:hover {
  filter: none;
}
.activity__action-edit.disabled::after {
  content: 'Add some tasks first!';
  position: fixed;
  bottom: 70px;
  right: 0;
  transform: translateX(-50%);
  padding: 10px;
  background-color: var(--card-border);
  color: #fff;
  border-radius: 5px;
  font-size: 0.9rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.activity__action-edit.disabled:hover::after {
  opacity: 1;
}
.activity__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;

  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 100;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.activity__heading-text {
  color: var(--border-color);
  font-weight: 600;
}
.activity__heading-action {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 5px;
}
.activity__heading-action .search,
.activity__heading-action .filter {
  background-color: var(--card-border);
  color: #000000;
  max-width: 100px;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
}
.activity__heading-action .search.disabled:hover,
.activity__heading-action .filter.disabled:hover {
  cursor: not-allowed;
  filter: none;
}
.activity__heading-action .search::placeholder {
  color: #000000;
}
.activity__heading-action .search:focus {
  outline: 2px solid var(--main-color);
}
.activity__heading-action .filter {
  background-color: var(--main-color);
  color: #ffffff;
}
.activity__heading-action .filter:hover {
  filter: brightness(0.9);
  cursor: pointer;
}
.activity__heading-action .filter:focus {
  outline: none;
  border: none;
}
.activity__heading-action .filter option {
  color: var(--main-color);
  background-color: var(--input-color);
}
.activity__heading-action .filter option:hover {
  color: #ffffff;
  background-color: #ffffff;
}
.activity__content {
  display: grid;
  grid-template-columns: auto;
  place-items: start stretch;
  padding: 10px;
  gap: 10px;
}
.activity__content__empty {
  grid-column: 1 / span 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.activity__content-item {
  min-width: 250px;
  display: flex;
  align-items: flex-start;
  gap: 10px;

  padding: 15px;
  border: 2px solid var(--base-color);
  border-radius: 10px;

  font-size: 0.8rem;
  background-color: var(--base-color);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.activity__content-item:hover {
  border: 2px solid var(--card-border);
}
.activity__content-item__left {
  flex-grow: 1;
}
.activity__content-item__left-badge {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 15px;
}
.activity__content-item__left-title {
  max-width: 200px;
  word-wrap: break-word;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.activity__content-item__left-priority,
.activity__content-item__left-repetition,
.activity__content-item__left-overdue {
  display: inline-block;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
}
.activity__content-item__left-priority:empty,
.activity__content-item__left-repetition:empty,
.activity__content-item__left-overdue:empty {
  display: none;
}
.activity__content-item__left-priority {
  color: #000000;
  background-color: #fdd527;
}
.activity__content-item__left-repetition {
  color: #ffffff;
  background-color: var(--main-color);
}
.activity__content-item__left-overdue {
  color: #ffffff;
  background-color: var(--color-danger);
}
.activity__content-item__left-description {
  max-width: 200px;
  word-wrap: break-word;
}
.activity__content-item__right {
  max-width: 110px;
}
.activity__content-item__right-time {
  border-radius: 5px;
  padding: 10px 5px;
  background-color: #fff;
  color: var(--main-color);
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
  min-width: 100px;
}
.activity__content-item__right-time p {
  line-height: 1rem;
}
.activity__content-item__right-action {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  margin-top: 10px;
}
.activity__content-item__right-action-edit,
.activity__content-item__right-action-delete,
.activity__content-item__right-action-complete {
  padding: 5px;
  border-radius: 5px;
  transform: scale(0);
  transform-origin: center;
  transition: all 0.1s;
  cursor: pointer;
}
.activity__content-item__right-action-edit img,
.activity__content-item__right-action-delete img,
.activity__content-item__right-action-complete img {
  max-width: 20px;
}
.activity__content-item__right-action-edit:hover,
.activity__content-item__right-action-delete:hover,
.activity__content-item__right-action-complete:hover {
  opacity: 0.8;
}
.activity__content-item__right-action-edit.show,
.activity__content-item__right-action-delete.show,
.activity__content-item__right-action-complete.show {
  transform: scale(1);
}
.activity__content-item__right-action-edit {
  background-color: var(--color-edit);
}
.activity__content-item__right-action-delete {
  background-color: var(--color-danger);
}
.activity__content-item__right-action-complete {
  background-color: var(--color-success);
}
@media screen and (min-width: 768px) {
  .banner__text {
    max-width: 320px;
  }
  .banner__text-greeting {
    font-size: 1.5rem;
  }
  .banner__text-description {
    font-size: 1rem;
  }
  .heading {
    margin-top: -60px;
  }
  .heading__priority,
  .heading__overdue,
  .heading__all {
    padding: 30px 0;
    font-size: 1rem;
    text-align: left;
  }
  .heading__priority__img,
  .heading__overdue__img,
  .heading__all__img {
    display: block;
  }
  .heading__priority__detail-count,
  .heading__overdue__detail-count,
  .heading__all__detail-count {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .activity__content {
    grid-template-columns: auto auto;
    gap: 10px;
  }
  .activity__heading-action {
    flex-direction: row;
  }
  .activity__heading-action .search,
  .activity__heading-action .filter {
    max-width: 200px;
  }
}
@media screen and (min-width: 1024px) {
  .banner {
    padding: 30px 20px 70px 20px;
    border-bottom-left-radius: 60px;
  }
  .banner__text {
    max-width: 400px;
  }
  .banner__text-greeting {
    font-size: 2rem;
  }
  .banner__text-description {
    font-size: 1.1rem;
  }
  .heading__priority__detail-count,
  .heading__overdue__detail-count,
  .heading__all__detail-count {
    font-size: 1.7rem;
  }
  .activity__heading-text {
    font-size: 1.5rem;
  }
  .activity__heading-action {
    gap: 10px;
  }
  .activity__heading-action .search,
  .activity__heading-action .filter {
    font-size: 1rem;
  }
  .activity__content {
    grid-template-columns: repeat(3, 1fr);
  }
  .activity__content-item {
    font-size: 0.9rem;
  }
  .activity__content-item__title {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .activity__content {
    grid-template-columns: repeat(4, 1fr);
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal.show {
  display: flex;
  animation: showModal 0.5s;
}
/* modal add start */
.modal__add {
  display: none;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  max-width: 300px;
  max-height: 90vh;
  overflow-y: auto;
}
.modal__add.show {
  display: flex;
}
.modal__add__form {
  display: flex;
  flex-direction: column;
}
/* give margin to p child */
.modal__add__form > p {
  margin-bottom: 5px;
}
.modal__add__form-title,
.modal__add__form-description {
  color: var(--main-color);
  background-color: var(--input-color);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.modal__add__form-title::placeholder,
.modal__add__form-description::placeholder {
  color: var(--main-color);
}
.modal__add__form-title:focus,
.modal__add__form-description:focus {
  outline: 2px solid var(--main-color);
}
.modal__add__form-description {
  min-height: 50px;
  resize: vertical;
}
.modal__add__form__datetime {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  margin-bottom: 10px;
}
.modal__add__form__datetime-date,
.modal__add__form__datetime-time {
  color: var(--main-color);
  background-color: var(--input-color);
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}
.modal__add__form__datetime-date:focus,
.modal__add__form__datetime-time:focus {
  outline: 2px solid var(--main-color);
}
.modal__add__form__priority {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}
.modal__add__form__priority label {
  padding: 8px 20px;
  border-radius: 10px;
  background-color: var(--input-color);
  color: var(--main-color);
  cursor: pointer;
  transition: all 0.2s;
}
.modal__add__form__priority label:has(input[type='radio']:checked) {
  background-color: var(--main-color);
  color: #ffffff;
}
.modal__add__form__priority label input[type='radio'] {
  display: none;
}
.modal__add__form__repetition {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  margin-bottom: 20px;
}
.modal__add__form__repetition label {
  padding: 8px 20px;
  border-radius: 10px;
  background-color: var(--input-color);
  color: var(--main-color);
  cursor: pointer;
  transition: all 0.2s;
}
.modal__add__form__repetition label:has(input[type='radio']:checked) {
  background-color: var(--main-color);
  color: #ffffff;
}
.modal__add__form__repetition label input[type='radio'] {
  display: none;
}
.modal__add__form__button {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.modal__add__form__button-cancel,
.modal__add__form__button-add {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.modal__add__form__button-cancel {
  color: var(--main-color);
  background-color: #ffffff;
  border: 1px solid var(--main-color);
  transition: all 0.2s;
}
.modal__add__form__button-cancel:hover {
  color: #ffffff;
  background-color: var(--main-color);
}
.modal__add__form__button-add {
  color: #ffffff;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  transition: all 0.2s;
}
.modal__add__form__button-add:hover {
  color: var(--main-color);
  background-color: #ffffff;
}
/* modal add end */
/* modal edit start */
.modal__edit {
  display: none;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  max-width: 300px;
  max-height: 90vh;
  overflow-y: auto;
}
.modal__edit.show {
  display: flex;
}
.modal__edit__form {
  display: flex;
  flex-direction: column;
}
/* give margin to p child */
.modal__edit__form > p {
  margin-bottom: 5px;
}
.modal__edit__form-title,
.modal__edit__form-description {
  color: var(--main-color);
  background-color: var(--input-color);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.modal__edit__form-title::placeholder,
.modal__edit__form-description::placeholder {
  color: var(--main-color);
}
.modal__edit__form-title:focus,
.modal__edit__form-description:focus {
  outline: 2px solid var(--main-color);
}
.modal__edit__form-description {
  min-height: 50px;
  resize: vertical;
}
.modal__edit__form__datetime {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  margin-bottom: 10px;
}
.modal__edit__form__datetime-date,
.modal__edit__form__datetime-time {
  color: var(--main-color);
  background-color: var(--input-color);
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}
.modal__edit__form__datetime-date:focus,
.modal__edit__form__datetime-time:focus {
  outline: 2px solid var(--main-color);
}
.modal__edit__form__priority {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}
.modal__edit__form__priority label {
  padding: 8px 20px;
  border-radius: 10px;
  background-color: var(--input-color);
  color: var(--main-color);
  cursor: pointer;
  transition: all 0.2s;
}
.modal__edit__form__priority label:has(input[type='radio']:checked) {
  background-color: var(--main-color);
  color: #ffffff;
}
.modal__edit__form__priority label input[type='radio'] {
  display: none;
}
.modal__edit__form__repetition {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  margin-bottom: 20px;
}
.modal__edit__form__repetition label {
  padding: 8px 20px;
  border-radius: 10px;
  background-color: var(--input-color);
  color: var(--main-color);
  cursor: pointer;
  transition: all 0.2s;
}
.modal__edit__form__repetition label:has(input[type='radio']:checked) {
  background-color: var(--main-color);
  color: #ffffff;
}
.modal__edit__form__repetition label input[type='radio'] {
  display: none;
}
.modal__edit__form__button {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.modal__edit__form__button-cancel,
.modal__edit__form__button-add {
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.modal__edit__form__button-cancel {
  color: var(--main-color);
  background-color: #ffffff;
  border: 1px solid var(--main-color);
  transition: all 0.2s;
}
.modal__edit__form__button-cancel:hover {
  color: #ffffff;
  background-color: var(--main-color);
}
.modal__edit__form__button-add {
  color: #ffffff;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  transition: all 0.2s;
}
.modal__edit__form__button-add:hover {
  color: var(--main-color);
  background-color: #ffffff;
}
/* modal edit end */
/* modal delete  start*/
.modal__delete {
  display: none;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  max-width: 300px;
  max-height: 90vh;
  overflow-y: auto;
}
.modal__delete.show {
  display: flex;
}
.modal__delete-title {
  font-size: 1rem;
}
.modal__delete__form {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 50px;
}
.modal__delete__form-cancel {
  color: #ffffff;
  background-color: var(--main-color);
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.modal__delete__form-delete {
  color: #ffffff;
  background-color: var(--color-danger);
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.modal__delete__form-cancel:hover,
.modal__delete__form-delete:hover {
  opacity: 0.7;
}
/* modal delete end */
/* modal delete  start*/
.modal__complete {
  display: none;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  max-width: 300px;
  max-height: 90vh;
  overflow-y: auto;
}
.modal__complete.show {
  display: flex;
}
.modal__complete-title {
  font-size: 1rem;
}
.modal__complete__form {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 50px;
}
.modal__complete__form-cancel {
  color: #ffffff;
  background-color: var(--main-color);
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.modal__complete__form-complete {
  color: #ffffff;
  background-color: var(--color-danger);
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.modal__complete__form-cancel:hover,
.modal__complete__form-complete:hover {
  opacity: 0.7;
}
/* modal delete end */
@keyframes showModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .modal__add {
    max-width: 500px;
  }
  .modal__edit {
    max-width: 500px;
  }
  .modal__delete,
  .modal__complete {
    max-width: 500px;
  }
  .modal__delete-title,
  .modal__complete-title {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1024px) {
  .modal__add {
    max-width: 800px;
  }
  .modal__add__form__priority,
  .modal__add__form__repetition,
  .modal__add__form__button {
    gap: 20px;
  }
  .modal__add__form__button-cancel,
  .modal__add__form__button-add {
    padding: 10px 30px;
  }
  .modal__edit {
    max-width: 800px;
  }
  .modal__edit__form__priority,
  .modal__edit__form__repetition,
  .modal__edit__form__button {
    gap: 20px;
  }
  .modal__edit__form__button-cancel,
  .modal__edit__form__button-edit {
    padding: 10px 30px;
  }
  .modal__delete,
  .modal__complete {
    max-width: 800px;
  }
}
/* Main end */

/* alert style start */
.alert {
  display: flex;
  align-items: center;
  gap: 10px;

  position: fixed;
  top: 20px;
  width: 300px;
  left: calc(50% - 150px);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  z-index: 9999;
  animation: alert 0.5s;
  transition: opacity 0.5s;
}
.alert-success {
  background-color: var(--main-color);
}
.alert-error {
  background-color: #ff635e;
}
.alert.alert-hide {
  opacity: 0;
}
.alert__message {
  color: white;
}
@keyframes alert {
  0% {
    top: -50px;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    top: 20px;
    opacity: 1;
    transform: scale(1);
  }
}
@media screen and (min-width: 768px) {
  .alert {
    width: 400px;
    left: calc(50% - 200px);
  }
}
@media screen and (min-width: 1024px) {
  .alert {
    width: 500px;
    left: calc(50% - 250px);
  }
}
/* alert style end */
