:root {
  --main-color: #0091ff;
  --color-dark: #333333;
  --border-color: #1a2744;
  --base-color: #f5f5f5;
  --color-danger: #d46a6a;
  --color-success: #77dd77;
  --main-color: #008fff;
  --color-dark: #333333;
  --card-border: #acdaff;
  --input-color: #d4ecff;
}
body {
  font-family: 'Outfit', sans-serif;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--card-border);
  border: 2px solid var(--base-color);
  border-radius: 6px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
}
/* sidebar start */
.sidebar {
  display: flex;
  flex-flow: column;
  width: 250px;
  height: 100vh;
  max-height: 100vh;
  background-color: var(--base-color);
  border-right: 1px solid rgba(0, 0, 0, 0.2);

  position: fixed;
  top: 0;
  left: -250px;
  z-index: 999;

  transition: left 0.3s;
}

.sidebar__hamburger {
  cursor: pointer;
  padding: 10px 8px;
  position: absolute;
  top: 110px;
  left: calc(100% + 1px);
  z-index: 100;
  background-color: #e6eefb;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.sidebar__hamburger div {
  width: 20px;
  height: 2px;
  background-color: var(--main-color);
  margin: 5px 0;
}

.sidebar.active {
  left: 0;
}
.sidebar__profile {
  display: flex;
  flex-flow: column;
}
.sidebar__profile__account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px 0;
}
.sidebar__profile__account__avatar {
  border-radius: 100%;
}
.sidebar__profile__account__detail-name,
.sidebar__profile__account__detail-email {
  max-width: 150px;
  word-wrap: break-word;
  margin-bottom: 5px;
}
.sidebar__profile__account__detail-email {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.8);
}
.sidebar__profile__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}
.sidebar__profile__menu .settings,
.sidebar__profile__menu .notifications {
  background-color: #e6eefb;
  color: var(--main-color);
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.sidebar__profile__menu .notifications {
  position: relative;
}
.sidebar__profile__menu .settings:hover {
  background-color: var(--main-color);
  color: #ffffff;
}
/* if button were clicked */
.sidebar__profile__menu .notifications.clicked {
  background-color: var(--main-color);
  color: #ffffff;
}
.sidebar__profile__menu .settings.active {
  background-color: var(--main-color);
  color: #ffffff;
}
/* if button have notifications exist */
.notifications__count {
  display: block;
  padding: 5px 7px;
  font-size: 0.7rem;
  font-weight: 700;
  color: #ffffff;
  background-color: red;
  border-radius: 100%;
  position: absolute;
  top: -10px;
  right: -10px;
}
.notifications__content {
  display: none;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 50px;
  left: 100px;
  z-index: 999;
  min-width: 300px;
  max-width: 300px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px;
  max-height: 70vh;
  overflow: auto;
}
.notifications__content::-webkit-scrollbar {
  width: 8px;
}
.notifications__content::-webkit-scrollbar-thumb {
  background-color: var(--card-border);
  border-radius: 6px;
}
.notifications__content::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-color);
}
.notifications__content.show {
  display: flex;
}
.notifications__content__empty {
  padding: 20px;
}
.notifications__content__item {
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* supaya element terakhir notif gapunya border */
.notifications__content__item:nth-last-child(1) {
  border: none;
}
.notifications__content__item:hover {
  background-color: var(--base-color);
}
.notifications__content__item-title {
  text-align: left;
  font-weight: 600;
  margin-bottom: 5px;
}
.notifications__content__item-datetime {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 0.9rem;
}
.sidebar__menu {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
}
.sidebar__menu__list ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 3px;

  color: var(--color-dark);
  text-decoration: none;

  transition: 0.2s;
}
.sidebar__menu__list ul li a:hover,
.sidebar__menu__list ul li a.active {
  color: #ffffff;
  background-color: var(--main-color);
}
.sidebar__menu__logout a {
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;

  margin-bottom: 50px;
  min-width: 170px;
  background-color: var(--color-danger);

  color: #ffffff;
  text-decoration: none;
}
.sidebar__menu__logout a:hover {
  filter: brightness(0.9);
}
/* sidebar end */

/* This responsive to collapse hamburger menu and
make the sidebar static again */
@media screen and (min-width: 1024px) {
  .sidebar {
    top: 0;
    left: 0;
  }
  .sidebar__hamburger {
    display: none;
  }
  main {
    margin-left: 250px;
  }
  .notifications__content {
    min-width: 500px;
  }
}
